<div class="container-fluid bg-light">
  <div class="container bg-light">
    <div class="row mt-4">
      <div class="col"></div>
      <div class="col-md-6 bg-white">
        <div class="card bg-warning p-2">
          <h4 class="text-white">To Do List</h4>
        </div>
        <div class="shadow">
          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="Add task"
              aria-label="Recipient's username"
              aria-describedby="button-addon2"
              name="task" 
              [(ngModel)]="addTextValue"
            />
            <button
              class="btn btn-outline-success"
              type="button"
              (click)="addTask"
            >
              + add
            </button>
          </div>
        </div>
        <h4 class="text-primary mt-4">Task: </h4>
        <div style="overflow-y: auto; height: 350px;">
          <div class="m-3" *ngFor="let task of taskArr">
            <div class="p-2 shadow">
              <div class="input-group row ps-3">
                <div class="card col-md-10 border">{{task.taskName}}</div>
                <button class="btn btn-outline-primary col me-2">e</button>
                <button class="btn btn-outline-danger col">X</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>
</div>
